/* utilities */
.hide {
  display: none;
}

.page-padding {
  padding: 15px 20px;
}

.answered {
  background-color: var(--main-color) !important;
  color: var(--white-color);
}

.wrong {
  background-color: red !important;
  color: var(--white-color);
}

.b-w {
  border: 5px solid gold;
}

.b-m-c {
  border: 5px solid var(--main-color);
}

.fixed {
  position: fixed;
}
