/* utilities */
.hide {
  display: none;
}

.page-padding {
  padding: 15px 20px;
}

.answered {
  background-color: var(--main-color) !important;
  color: var(--white-color);
}

.fixed {
  position: fixed;
}
